<!-- <app-todo-entity (add)="addHandler($event)"></app-todo-entity>
<input type="radio" name="filter" [value]="null" [checked]="filterValue === null" (change)="changeFilter(null)" /> All
<input type="radio" name="filter" [value]="true" [checked]="filterValue === true"
  (change)="changeFilter(true)" />Completed
<input type="radio" name="filter" [value]="false" [checked]="filterValue === false" (change)="changeFilter(false)" />Not
completed
<app-todo-list [todos]="todos | filter : filterValue" (remove)="deleteTodo($event)" (toggle)="toggleTodo($event)">
</app-todo-list> -->

<router-outlet></router-outlet>


<!-- REPO: https://github.com/IliaIdakiev/boot-camp-01 -->